* {
    font-family: 'Vazir', sans-serif;
}

/* ion-title.ios.title-medium {
    color: rgb(24, 24, 24);
    font-size: 25px;
  } */

ion-button {
	z-index: 100;
}

ion-title {
  position: absolute;
  font-weight: 600;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
